# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
.idea/
log/
*.pyc
*.pyo
*.npy
*.so
.ipynb_checkpoints/
KITTIX_n56deep.7z
src/build/
src/sintelGlobals.h~
src/test_module.py
src/todo
helper/flowlib.py.bak
helper/flow_transforms.py.bak
data/
helper/__pycache__/
log_t/
network/__pycache__/
patchselect.cpython-36m-x86_64-linux-gnu.so
